<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='img/fav/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <title>{% block title %}YaCut - укоротитель ссылок{% endblock %}</title>
</head>
<body>
  <header class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">YaCut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'main.index' %}active{% endif %}" 
                 href="{{ url_for('index') }}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'main.upload_files' %}active{% endif %}" 
                 href="{{ url_for('files_view') }}">Загрузка файлов</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="container my-5 px-4">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %} 
          <div class="alert alert-info alert-dismissible fade show" role="alert"> 
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button> 
          </div> 
        {% endfor %} 
      {% endwith %}
      {% block content %}{% endblock %}
    </section>
  </main>

  <footer class="fixed-bottom border-top text-center py-3">
    <p>Укоротитель ссылок YaCut</p>
  </footer>  
</body>
</html>
